body {
  font-family: "Barlow", sans-serif;
}

.card-title {
  font: 300 1.25rem "Roboto", arial;
}

h2 {
  color: #C9C9C9;
}

h5 {
  color: white;
}

a {
  color: white;
}


.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #FFFFFF);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #000000, #000000, #000000, #000000, #FFFFFF);
  color: white;
}

.jumbotron h2 {
  color: #5B5B5B;
}

.navbar-dark {
  background-color: #901CAD;
}

.navbar-toggler {
  color: white;
  border-color: white;
} 

